{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "import"
  ],
  "rules": {
    "max-len": [2, 80, 2],
    "import/extensions": [0]
  }
}
